*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.appdiv{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.maindiv{
    flex-grow: 1;
    overflow: auto;
}