.jobsdiv{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(179, 177, 177);
    overflow-y: scroll;
    position: relative;
}
.backButton{
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 25px;
    color: black;
}